{
  "extends": "eslint-config-airbnb",
  "rules": {
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": [2, { "ignore": ["electron"] }],
    "linebreak-style": 0,
    "react/jsx-filename-extension": 0,
    "react/no-unescaped-entities": 0,
    "react/prefer-stateless-function": 0,
  },
  "globals": {
    "document": true,
  }
}
